$brainflix-black: #323232;
$brainflix-blue: #0095ff;
$silver: #afafaf;
$white: #ffffff;
$brainflix-darkblack: #000000;
$brainflix-darkblue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;
$error-red: #d22d2d;

$primaryTextColor: $brainflix-black;
$secondaryTextColor: $silver;
$primaryCTAColor: $brainflix-blue;
$activeFormFieldOutlineColor: $brainflix-blue;
$backgroundColor: $white;
$CTATextColor: $white;
$CTAHoverColor: $brainflix-darkblue;
$videoPlayerBackgroundColor: $brainflix-darkblack;
$dividerLineColor: $mercury;
$imagePlaceholderColor: $mercury;
$formFieldOutlineColor: $mercury;
$formFieldBackgroundColor: $alabaster;
$errorFormFieldOutlineColor: $error-red;
