@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf") format(OpenType);
  src: url("../assets/fonts/AvenirNextLTPro.ttf") format(truetype);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf") format(OpenType);
  src: url("../assets/fonts/AvenirNextLTProDemi.ttf") format(truetype);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf") format(OpenType);
  src: url("../assets/fonts/AvenirNextLTProBold.ttf") format(truetype);
  font-weight: 900;
  font-style: normal;
}
