@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.video-comments {
  padding-top: 1rem;
  padding-bottom: 1rem;

  &__add {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem 0;
    border-bottom: 1px solid $dividerLineColor;

    &-img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 1rem;
      margin-top: 1rem;
    }

    &-form {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      padding: 0;
      margin: 0;
      label {
        color: $secondaryTextColor;
      }

      @include desktop {
        padding-right: 1rem;
      }

      &-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        @include tablet {
          flex-direction: row;
          justify-content: space-between;
          gap: 1rem;
        }
      }

      &-comment {
        height: 6rem;
        width: 100%;
        background-color: $formFieldBackgroundColor;
        border-radius: 4px;
        border: 2px solid $formFieldOutlineColor;
        padding: 0.5rem;
        margin-bottom: 1rem;
        resize: none;
        box-sizing: border-box;
        overflow: hidden;
        font-family: "Avenir Next";
        color: $primaryTextColor;
        opacity: 1;
        &:focus {
          outline: none !important;
          border: 2px solid $activeFormFieldOutlineColor;
        }
        &::placeholder {
          color: $primaryTextColor;
          font-weight: 600;
        }
        @include tablet {
          height: 2.5rem;
        }
        &--error {
          border: 1px solid $errorFormFieldOutlineColor;
        }
      }

      &-button {
        background-color: $primaryCTAColor;
        color: $CTATextColor;
        height: 2.5rem;
        width: 100%;
        border-radius: 4px;
        border: none;
        background-image: url("../../assets/icons/add_comment.svg");
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: 0.5rem;
        cursor: pointer;
        &:hover {
          background-color: $CTAHoverColor;
        }
      }
    }
  }

  &__comment {
    padding: 1rem 0;
    border-bottom: 1px solid $dividerLineColor;
    display: flex;

    @include desktop {
      padding-right: 1rem;
      &:last-child {
        border-bottom: none;
      }
    }

    &-avatar-img {
      border-radius: 50%;
      object-fit: cover;
      margin-right: 1rem;
      width: 2.5rem;
      height: 2.5rem;
      background-color: $imagePlaceholderColor;
    }
    &-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
    }
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 1rem;
      gap: 1rem;
    }
    &-name {
      font-weight: 700;
      color: $primaryTextColor;
    }
    &-timestamp {
      color: $secondaryTextColor;
    }
    &-message {
      font-weight: 400;
    }
  }
}
